[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow = "*"
jinja2 = "*"
cairosvg = "*"
numpy = "*"

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"
pipfile = "*"

[requires]
python_version = "3.8"
